
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: white;
    padding: 20px;
}

#immagineLogo{
    width: 80px;
    vertical-align: middle;
}
#testoLogo {
    color: black;
    vertical-align: middle;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 20px;
    margin-left: -20px;

}

body{
    background-color: rgba(20, 207, 39, 0.708);
}
.bottoni{
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

#blue{
    margin-left: 30px;
    background-color: rgb(110, 159, 228);
}

#bianco{
    background-color: white;
    color: rgb(209, 203, 194);
    border: solid 1px; 
    border-color: rgb(209, 203, 194);
}
button{
    border: none;
    padding: 6px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.principale{
    background-color: white;
     width: 60%;
     margin: auto;
     margin-top: 2px;
     padding: 40px;
     border-radius: 0px 0px 5px 5px;
     margin-bottom: 30px;
}

.titoli {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.attività{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.titoli:before{
    content:"\25BC";
    margin-right: 10px;
    vertical-align: middle;
}

.attività:before{
    content:"\2713";
    width: 17px;
    color: rgb(78, 246, 78);
    display: inline-block;
    border-style: solid; 1px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle; 
}

.Task{
    margin-top: 20px;
    
}

#no:before{
    content:"\2717";
    width: 17px;
    color: rgb(228, 18, 18);
    display: inline-block;
    border-style: solid; 1px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle; 
}

span{
    font-size: 9px;
    color: white;
    border-radius: 9px;
    padding: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

#Editorial{
    background-color: rgb(78, 204, 239);
}
#Q1{
    background-color: rgb(126, 26, 225);
}
#Recruting{
    background-color: rgb(37, 134, 39);
}

#Mobile{
    background-color: rgb(243, 161, 31);
}

#Web{
    background-color: rgb(230, 32, 197);
}

#Sales{
    background-color: rgb(195, 223, 36);
}